# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log

# Customization for your app
# Example: Ignore compiled CSS if you're using a CSS preprocessor
# *.css

# Example: Ignore built js files if you're compiling from another language
# public/js/*.js